
default_parameters:

  experiment: adaptive combination

  dataset_filename: enron-kayla
  label_type:
    ham_label: -1
    spam_label: 1

  classifier_fast:
    type: adaline
    training_parameters:
      learning_rate: 0.01
      initial_weights: null
    testing_parameters: {}

  classifier_slow:
    type: adaline
    training_parameters:
      learning_rate: 0.0005
      initial_weights: null
    testing_parameters: {}

  attack:
    - type: empty
      parameters:
        percentage_samples_poisoned: .50
        start: 15000
        duration: 5000
    - type: dictionary
      parameters:
        percentage_samples_poisoned: .50
        start: 20000
        duration: 5000


parameter_ranges:

# - name: dataset
#   key: [dataset_filename]
#   values:
#     - trec2007-1607201347 ## 10000 features
#     - trec2007-1607252257 ## 1000  features
#     - trec2007-1607252259 ## 100   features
#     - enron-kayla         ## 1000  features

# - name: classifier fast
#   key: [classifier_fast, type]
#   values:
#     - adaline
#     - logistic regression

# - name: classifier slow
#   key: [classifier_slow, type]
#   values:
#     - adaline
#     - logistic regression

# - name: η fast
#   key: [classifier_fast, training_parameters, learning_rate]
#   values:
#     - .01
#     - .005

# - name: η slow
#   key: [classifier_slow, training_parameters, learning_rate]
#   values:
#     - .001
#     - .0005

# - name: attack
#   key: [attack, type]
#   values:
#     - dictionary
#     - empty
#     - ham
#     - focussed
#     - null

# - name: '% poisoned'
#   key: [attack, parameters, percentage_samples_poisoned]
#   values:
#     - .0
#     - .1
#     - .2
#     - .3
#     - .5

# - name: attack start
#   key: [attack, parameters, start]
#   values:
#     - 5000
#     - 10000
#     - 15000
#     - 20000
#     - 25000

# - name: attack duration
#   key: [attack, parameters, duration]
#   values:
#     - 500
#     - 1000
#     - 5000
#     - 10000

